:root{
    --cor-principal: rgb(55, 91, 255);
    --cor-secundaria: #1b1c31;

    --primary-text-color: #fbfdfd;

    --side-bar: #1f1f3b;
    --text-menu: #7b7d8a;
    --text-menu-hover: #01a3fb;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}
html{

}
body{
    background: var(--cor-secundaria);
}
header{
    z-index: 10;
    background: var(--side-bar);
    position: fixed;
    text-align: center;
    height: 100%;
    padding: 0.5em 0;
}
main{
    color: var(--primary-text-color);
}
main, footer{
    margin-left: 63px;
    padding: 0.5em;
}
footer{
    backgrounsd: #222433;
    z-index: 200;
    position: relative;
    bottom: 0;
    width: calc(100% - 63px);
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
footer nav{
    margin: auto;
    background: bluse;
}
.toggle{
    padding: 0.4em 0;
}
#toggle-checkbox{
    display: none;
}
.toggle label{
    font-size: 1.5em;
    color: var(--text-menu-hover);
}
.logo{
    display: none;
}


span{
    display: none;
}
i{
    
}


.navigation{
    aborder-top: 1px solid rgba(197, 197, 197, 0.2);
    position: relative;
    left: 0;
    height: 100%;
    padding: 0.5em;
    text-align: center;
    width: 63px;
}
.navigation-list{
    list-style: none;
}
.list-item{
    display: sflex;
    padding: 0.6em 0;
}
.link-list{
    text-decoration: none;
    color: var(--text-menu);
    font-size: 1.50em;
    margin: 0.4em;
}
.link-list:hover{
    color: var(--text-menu-hover);
}

.social-media{
    margin: 10px 0;;
}
.social-media a{
    display: inline-block;
    margin: 0 10px;
    font-size: 2.3em;
}
#git i{
    color: #fff;
}
footer p{
    color: var(--text-menu-hover);
}
#linkedin i{
    color: #0a66c2;
}
.project a{
    color: #fff;
    text-decoration: none;
    font-size: 1.0em;
}
.project a:hover{
    color: var(--text-menu-hover)
}